<!DOCTYPE html>
<html>

<head>
    {{ toastr.include_jquery() }}
    {{ toastr.include_toastr_css() }}
    {{ toastr.message() }}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Welcome! - {{ business_name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='/assets/fonts/fontawesome5-overrides.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/assets/css/styles.min.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
</head>

<body id="page-top">
    {{ toastr.include_toastr_js() }}
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-text mx-3"><span>{{ business_name }}</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link" href="/login"><i class="far fa-user-circle"></i><span>Login</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/register"><i class="fas fa-user-circle"></i><span>Register</span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav><a class="border rounded d-inline scroll-to-top" data-bss-hover-animate="pulse" href="#page-top"><i class="fas fa-angle-up"></i></a>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <!-- Start: Header Blue -->
                <header class="header-blue" style="height: 100%;">
                    <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search">
                        <div class="container-fluid">
                            <div class="collapse navbar-collapse" id="navcol-1"></div>
                        </div>
                    </nav>
                    <div class="container hero">
                        <div class="row">
                            <!-- Start: Text -->
                            <div class="col-12 col-lg-6 col-xl-5 offset-xl-1">
                                <h1>Hair Booking. Made Simple.</h1>
                                <p>An open-source and beautiful hair booking system.<br></p>
                            </div><!-- End: Text -->
                            <div class="col-md-5 col-lg-5 offset-lg-1 offset-xl-0 d-none d-lg-block phone-holder">
                                <div class="font-monospace border-dark screen" style="background: url(&quot;/assets/img/index-1.png?h=254d243163f270f8601b450ba7ede96c&quot;);height: 100%;"></div>
                            </div>
                        </div>
                    </div>
                </header><!-- End: Header Blue -->
                <div class="container-fluid">
                    <h3 class="text-dark mb-1"></h3>
                </div>
            </div>
            <footer class="bg-white sticky-footer" style="color: rgb(105,107,118);width: 100%;">
                <div class="container my-auto" style="width: 100%;">
                    <div class="text-center my-auto copyright" style="width: 100%;"><span>Copyright © {{ business_name }} 2021</span></div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='/assets/js/script.min.js') }}"></script>
</body>

</html>