<!DOCTYPE html>
<html style="color: rgb(255,0,0);">

<head>
    {{ toastr.include_jquery() }}
    {{ toastr.include_toastr_css() }}
    {{ toastr.message() }}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Register - {{ business_name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='/assets/fonts/fontawesome5-overrides.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/assets/css/styles.min.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
</head>

<body class="bg-gradient-primary">
    {{ toastr.include_toastr_js() }}
    <div class="container">
        <div class="card shadow-lg o-hidden border-0 my-5">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-flex" style="height: 539px;width: 427px;margin: -5px 42px -5px -5px;">
                        <div style="background: url(&quot;/assets/img/Register-1.jpg?h=d1fdf817ec0c8057e5e81ccfee631627&quot;);width: 503px;">
                            <div style="background: rgba(255,255,255,0.35);width: 1020px;height: 1037px;">
                                <p class="lead text-center" style="width: 445px;margin-top: 5px;margin-left: 30px;font-weight: bold;color: rgb(7,7,7);"><br><br><strong><em>What's a Hair Dresser Code?</em></strong><br><strong>A hair Dresser code is a code that your Hair Dresser will give you to allow you to book with them.</strong><br><br><br><strong><em>What makes a good password?</em></strong><br><strong>The requirements for a password are:</strong><br><strong>- Longer than 8 characters</strong><br><strong>- Contains lowercase letters</strong><br><strong>- Contains UPPERCASE letters</strong><br><strong>- Contains Numbers</strong><br><strong>- Contains Symbols&nbsp;_@£$%&amp;()</strong><br></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h4 class="text-dark mb-4">Create an Account!</h4>
                            </div>
                            <form class="user" action="{{ url_for('handle_reg_data') }}" method="post">
                                <div class="row mb-3" style="height: 52px;">
                                    <div class="mb-3"><input class="form-control form-control-user" type="text" id="exampleFirstName" placeholder="Full Name" name="name" required=""></div>
                                </div>
                                <div class="mb-3"><input class="form-control form-control-user" type="email" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Email Address" name="email" required=""></div>
                                <div class="mb-3"><input class="form-control form-control-user" type="text" id="exampleFirstName" placeholder="Booking Code" name="code" required=""></div>
                                <div class="row mb-3">
                                    <div class="col-sm-6 mb-3 mb-sm-0"><input class="form-control form-control-user" type="password" id="examplePasswordInput" placeholder="Password" name="pass" minlength="8" required=""></div>
                                    <div class="col-sm-6"><input class="form-control form-control-user" type="password" id="exampleRepeatPasswordInput" placeholder="Repeat Password" name="ppass" required="" minlength="8" ></div>
                                </div><button class="btn btn-primary d-block btn-user w-100" type="submit">Register Account</button>
                                <hr>
                            </form>
                            <div class="text-center"></div>
                            <div class="text-center"><a class="small" href="/login">Already have an account? Login!</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/script.min.js?h=a819ef22bb9b3992347355d76006ae9a"></script>
</body>

</html>